<!DOCTYPE html>
<html>
<head>
    <title>My Website</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet"> <!-- Google Fonts link -->

</head>
<body>
    <h1>Magic Travels</h1>
    <div class="container">
        <div class="destination_dropdown">
            <span class="text-next-to-button"> Choose a Destination: </span>
            <button onclick="myFunction()" class="dropbtn">Destinations</button>
            <div id="my_dest_dropdown" class="dropdown-content">
                <!-- This is where we'd have to connect it to the API and get cities from it -->
                <a href="#">Paris</a>
                <a href="#">London</a>
                <a href="#">New York</a>
                <a href="#">Tokyo</a>
            </div>
        </div>
        <div class="duration_counter">
            <span class="text-next-to-duration"> Choose Duration: </span>
            <select id="duration_select">
                <option value="1">1 day</option>
                <option value="2">2 days</option>
                <option value="3">3 days</option>
                <option value="4">4 days</option>
                <option value="5">5 days</option>
            </select>
        </div>
    </div>
    <div class="generate_button">
        <button onclick="generateItinerary()">Generate Itinerary</button>
    </div>
    <div class="suggestions_container">
        <h2>Recommanded Destinations</h2>
            <div class="buttons_row">
                <div class="suggest_button">
                    <h2>Image1</h2>
                    <p>Destination place</p>
                </div>
                <div class="suggest_button">
                    <h2>Image2</h2>
                    <p>Destination place</p>
                </div>
                <div class="suggest_button">
                    <h2>Image3</h2>
                    <p>Some text</p>
                </div>
            </div>
    </div>
</body>
</html>