<!DOCTYPE html>
<html>
<head>
    <title>My Website</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <h1>Magic Travels</h1>
    <div class="destination_dropdown">
        <span class="text-next-to-button"> Choose a Destination: </span>
        <button onclick="myFunction()" class="dropbtn">Destinations</button>
        <div id="my_dest_dropdown" class="dropdown-content">
            <!-- This is where we'd have to connect it to the API and get cities from it -->
            <a href="#">Paris</a>
            <a href="#">London</a>
            <a href="#">New York</a>
            <a href="#">Tokyo</a>
        </div>
    </div>
    
</body>
</html>