<!DOCTYPE html>
<html>
<head>
    <title>Magic Travels</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='generate.css') }}">
</head>
<body>
    <h1 id="place-name">Itinerary for [place name]</h1>
    <h2 id="duration-of-trip">Duration of trip: [# of days]</h2>
    <h2>Accommodation</h2>
    <div id="accommodation">
        <p>Accommodation details (address and area description)</p>
    </div>
    <h2>Activities</h2>
    <div id="activities">
        <p>List of activities. 2 for each day</p>
        <p>Each activity includes title of activity and small description</p>
    </div>
    <h2>Dining Options</h2>
    <div id="dining-options">
        <p>List of dining options. 2 for each day</p>
        <p>Each dining option includes name of restaurant and description of the place</p>
    </div>
    <div id="photo-container">
        <script type="module" src="{{ url_for('static', filename='generate.js') }}"></script>
    </div>
</body>
</html>
