<!DOCTYPE html>
<html>
<head>
    <title>Magic Travels</title>
    <!-- <link rel="stylesheet" type="text/css" href="templates/styles.css"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet"> <!-- Google Fonts link -->
    <script type="module" src="{{ url_for('static', filename='getsPhotos.js') }}" defer></script>
    <script type="module" src="{{ url_for('static', filename='destinations.js') }}" defer></script>


</head>
<body>
    <h1>Magic Travels</h1>

    <div class="container">
        <div class="destination_dropdown">
            <span class="text-next-to-button"> Choose a Destination: </span>
            <select id="destination_select">
                <option value="Select">Select</option>
                <!-- Options wll be populated by Javascript-->
            </select>
        </div>
        <div class="duration_counter">
            <span class="text-next-to-duration"> Choose Duration:</span>
            <select id="duration_select" onchange="generateInfo();">
                <option value="1">1 day</option>
                <option value="2">2 days</option>
                <option value="3">3 days</option>
                <option value="4">4 days</option>
                <option value="5">5 days</option>
            </select>
        </div>
    </div>
    <div class="generate_button">
        <!-- After clicking the generate button, it should take user to the generate -->
        <!-- page showing the results based on their paramters (City and Duration)  -->
        <button onclick="generateItinerary()">Generate Itinerary</button>
    </div>
    <div class="suggestions_container">
        <h2>Recommanded Destinations</h2>
        <!-- <h3>Duration dropdown here</h3> -->
            <div class="buttons_row">
                <!-- Suggestions should change everytime the page is refreshed -->
                <div class="suggest_button">
                    <!-- <img src="./photos/barcelona.jpg" alt="Barcelona" style="width:220px;height:150px"; > -->
                    <div class="photo-container"></div>
                    <h2 class="place-name"></h2>
                </div>
                <div class="suggest_button">
                    <!-- <img src="./photos/london.jpg" alt="Paris" style="width:220px;height:150px"; > -->
                    <div class="photo-container"></div>
                    <h2 class="place-name"></h2>

                </div>
                <div class="suggest_button">
                    <div class="photo-container"></div>
                    <h2 class="place-name"></h2>
 
                </div>
            </div>
    </div>
</body>
</html>